.wrapper {
  min-height: calc(100% - 136px);
}
.fixed-navbar {
  width: 100%;
  position: absolute;
  z-index: 999;
}
.cartPosition {
  position: absolute;
  right: 90px;
  top: 15px;
}
.cartPositionRight {
  position: relative;
  top: 3px;
}
.nav-link {
  @include lg {
    padding-bottom: 4px;
    border-bottom: 4px solid transparent;
  }
  &:hover {
    @include lg {
      border-bottom: 4px solid $primary-300;
    }
  }
}
.router-link-exact-active {
  @include lg {
    border-bottom: 4px solid $primary-300;
  }
}
