$utilities: map-merge(
  $utilities,
  (
    'font-size':
      map-merge(
        map-get($utilities, 'font-size'),
        (
          responsive: true,
          rfs: false
        )
      )
  )
);
.obj-fit {
  height: 100%;
  object-fit: cover;
}
