$utilities: map-merge(
  $utilities,
  (
    "font-size":
      map-merge(
        map-get($utilities, "font-size"),
        (
          responsive: true,
          rfs: false,
        )
      ),
  )
);




.tab-active {
  border-bottom: 4px solid $primary;
}
// .nav-position{
//   position: fixed;
//   top: 56px;
//   z-index: 1030;
// }
